body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1500px;
    /* border: 2px solid red; */
    margin: 20px auto;
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

h1 {
    text-align: center;
}

.project {
    border: 1px solid #ccc;
    border-radius: 24px;
    padding: 20px;
    margin-bottom: 20px;
    width: 25%;
    text-align: center;

}

.project img{
    width: 100%;
    border-radius: 16px;
}

.project h2 {
    margin-top: 0;
}


.project p {
    /* margin: 0px 10px; */
    /* gap: 50px; */
    /* width: 45px; */
    display: flex;
    justify-content: space-around;

}

.project a {
    text-decoration: none;
    /* color: b/; */
    color: black;
    padding: 10px;
    border: 2px solid gray;
    border-radius: 20px;
}

.project a:hover {
    /* text-decoration: underline; */
    background-color: lightgray;
    /* padding: 15px; */
}